* {
  background-color: aliceblue;
}

/* .App {
  text-align: center;
} */

.Header {
  margin-top: 2em;
  text-align: center;
}

img {
  height: 13em;
}

.myRow {
  margin-top: 4em;
}

.myCard {
  margin-bottom: 1em;
}
